docs/.template.aux
docs/template.fdb_latexmk
docs/template.fls
docs/template.log
docs/templage.out
docs/template.synctex.gz
docs/template.toc
docs/template.aux
docs/template.out
docs/template.bbl
docs/template.bcf
docs/template.blg
.vscode
~$matriz_opti.xlsx
.~lock_resulta3.xlsx#
.~lock_resulta_3.xlsx#
Valor_variables.txt
variables.txt
Entrega3.lp
Entrega3.mps
__pycache__/
PPT/
Iteraciones.txt
test.py